
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>SurName</th>
      <th>Email</th>
      <th>CityName</th>
      <th>Action</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tr>
    <td><%=user.name%></td>
    <td><%=user.surname%></td>
    <td><%=user.email%></td>
    <td><%=user.cityname%></td>
    <td><%= button_to "Edit", {:controller => "login", :action => "add", :id => user.id}, {:method => "get"}  %></td>
    <td><%= button_to "Create Order", {:controller => "login", :action => "create_user_order", :id => user.id}, {:method => "post"}  %></td>
    <td><%= button_to "Create Order with Attributes", {:controller => "login", :action => "create_user_order_with_attributes", :id => user.id}, {:method => "post"}  %></td>
  </tr>
  <% end %>
</table>

